h1 {
    text-align: center;
    width: 100%;
}

img {
    height: 300px;
    cursor: pointer;
}

a, a:hover {
    color: black !important;
}

.filter-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.donate-btn {
    position: absolute;
    top: 0;
    left: 0;
}

/* .donate-money {
    position: absolute;
} */

i { 
    position: absolute; 
    left: 3px;
    top: calc(50% - 0.5em);
  }

.form-group-phone {
    position: relative;
    display:inline-block;
  }

  .form-group-phone input {
    text-indent: 20px;
  }

  .card-phone {
    background:#FFFFFF;
    width:175px;
  }

  .form-group-name {
    position: relative;
    display:inline-block;
  }

  .form-group-name input {
    text-indent: 20px;
  }

  
.card-name {
    background:#FFFFFF;
    width:175px; 
}

.form-group-email {
    position: relative;
    display:inline-block;
  }

  .form-group-email input {
    text-indent: 20px;
  }

.card-email {
    background:#FFFFFF;
    width:175px;
}

.form-group-number {
    position: relative;
    display:inline-block;
  }

  .form-group-number input {
    text-indent: 20px;
  }

.card-number {
    background:#FFFFFF;
    width:175px;
}

.form-group-cvc2 {
    position: relative;
    display:inline-block;
  }

  .form-group-cvc2 input {
    text-indent: 20px;
  }

  
.card-cvc2 {
    background:#FFFFFF;
    width:75px;
}

.form-group-issuer {
    position: relative;
    display:inline-block;
  }

  .form-group-issuer  {
    text-indent: 20px;
  }

.card-issuer {
    background:#FFFFFF;
    width:175px;
}

.form-group-data {
    position: relative;
    display:inline-block;
  }

  .form-group-data input {
    text-indent: 20px;
  }

.card-date {
    width:175px;
}

select{
    padding:8px 5px;
    color:#333;
    width:200px;
  }

 .fa{
    font-family: "Microsoft JhengHei";
    font-weight:200;
  }

  input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    font-family: "Microsoft JhengHei";
}

.donate-money.active {
    background-color: #333;
}