h1 {
    text-align: center;
    width: 100%;
}

img {
    height: 300px;
    cursor: pointer;
}

a, a:hover {
    color: black !important;
}

.filter-btn {
    position: absolute;
    top: 0;
    right: 0;
}